

body {
    background-color: #252529;
    color: rgb(199, 199, 199);
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: #44B840;
    text-decoration: underline;
    text-underline-offset: 0.75rem;
}

section {
    width: 30rem
}

#flex-container {
    display: flex;

}

div {
    font-size: 0.75rem;
    margin-top: 0.25rem;
    text-align: center;
}

#favo {
    background-image: url(../images/1077035.png);
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
}