body {
    background-color: #252529;
    color: rgb(230, 230, 230);
    font-family: 'PT mono';
    height: 5%;
}

#hidden {
    display: none;
}

.hidden {
    display: none;
}

#flex-container {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: #44B840;
    text-decoration: underline;
    text-underline-offset: 0.75rem;
}

section {
    width: 30rem;
    height: 7rem;
}

div {
    text-align: center;
}

#timer {
    font-size: 1.25rem;
}

#quote {
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

#video {
    padding-top: 2rem;
    margin-bottom: 2rem;
}

#video a {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    color: rgb(230, 230, 230);
    font-size: 1.5rem;
}

.navigation {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navigation:first-child {
    position: absolute;
    top: 85%;
    left: 0%;
}

.navigation:last-child {
    position: absolute;
    top: 85%;
    left: 90%;
}

.navigation a {
    text-decoration: none;
    color: rgb(230, 230, 230);
}

#extra {
    position: absolute;
    top: 0%;
    left: 2%;
}
#extra a {
    font-size: 2rem;
    text-decoration: none;
    color: #44B840;
}

nav #close {
    position: absolute;
    top: 2%;
    left: 80%;
}
nav #close a {
    text-decoration: none;
    color: rgb(230, 230, 230);
}

nav {
    font-size: 1.25rem;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 40%;
    height: 100%;
    background-color: #252529;
    border-right: rgb(230, 230, 230) solid 1px;
}
nav ul {
    margin-top: 1.5rem;
}
nav li {
    list-style-type: none;
    padding-top: 2rem;
}
nav li a {
    color: #44B840;
    text-decoration: none;
    text-align: left;
}
